<div class="container">
  <h1>Nhận diện khuôn mặt</h1>

  <div class="row">
    <!-- Camera -->
    <div class="card">
      <h2><span>📷</span> Camera Capture</h2>
      <app-camera-capture (onCapture)="captureImage($event)"></app-camera-capture>
    </div>

    <!-- Chọn ảnh -->
    <div class="card">
      <h2><span>📤</span> Chọn ảnh từ máy tính</h2>
      <div class="file-upload">
        <label for="file-upload" class="custom-file-upload">
          📁 Chọn ảnh
        </label>
        <div class="file-name" *ngIf="selectedFileName">
          Đã chọn: {{ selectedFileName }}
        </div>
        <input id="file-upload" type="file" (change)="onFilesSelected($event)" multiple />
      </div>
      <button (click)="submitImage()">
        <svg class="btn-icon" viewBox="0 0 24 24" width="30" height="30" >
          <line x1="22" y1="2" x2="11" y2="13"></line>
          <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
        </svg>
        <span>Gửi ảnh để nhận diện</span>
      </button>

      <div *ngIf="personName" class="result-text">
        <p>Người nhận diện: {{personName}}
        </p>
      </div>
    </div>
  </div>

  <!-- Thêm người -->
  <div class="card full-width">
    <h2><span>👤</span> Thêm người mới</h2>
    <div class="row">
      <div class="file-uploads">
        <label for="file-uploads" class="custom-file-upload">
          📁 Chọn ảnh
        </label>
        <div class="file-names" *ngIf="selectedFileNamePerson">
          Đã chọn: {{ selectedFileNamePerson }}
        </div>
        <input id="file-uploads" type="file" (change)="onFilesSelectedForNewPerson($event)" multiple />
      </div>
    </div>
    <br/>
    <input type="text" [(ngModel)]="newPersonName" placeholder="Nhập tên người mới" required />
    <button (click)="addNewPerson()">Thêm người mới</button>
  </div>
</div>
