<div>
  <h1>Nhận diện khuôn mặt</h1>

  <!-- Camera capture component -->
  <app-camera-capture (onCapture)="captureImage($event)"></app-camera-capture>

  <!-- Chọn ảnh từ máy tính -->
  <div>
    <h2>Hoặc chọn ảnh từ máy tính</h2>
    <input type="file" (change)="onFilesSelected($event)" multiple />
    <button (click)="submitImage()">Gửi ảnh để nhận diện</button>
  </div>

  <!-- Form để thêm người mới (tải nhiều ảnh và nhập tên) -->
  <div>
    <h2>Thêm người mới</h2>
    <input type="file" (change)="onFilesSelectedForNewPerson($event)" multiple />
    <input type="text" [(ngModel)]="newPersonName" placeholder="Nhập tên người mới" required />
    <button (click)="addNewPerson()">Thêm người mới</button>
  </div>

  <div *ngIf="personName">
    <p>Người nhận diện: {{ personName }}</p>
  </div>
</div>
