<div class="" [ngClass]="{'flex flex-row gap-4': capturedImages.length > 0}">
  <div class="flex flex-col items-center">
    <div class="relative w-full  mb-4 overflow-hidden rounded-lg bg-black" style="height: 300px; max-width: 500px;">
      <video id="video" width="400" height="300" autoplay class="w-full h-full object-cover"></video>
      
      <div id="camera-overlay" [ngClass]="{'hidden': isCameraOn}" class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center bg-slate-800 bg-opacity-90 text-white" style="width: 100%; height: 100%;">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mx-auto mb-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3l18 18" />
          </svg>
          <p>Camera Đã Tắt</p>
        </div>
      </div>
    </div>
    
    <div class="grid grid-cols-2 gap-4 w-full max-w-sm">
      <button (click)="captureImage()" class="flex items-center justify-center py-2 px-4 bg-green-600 text-white rounded-lg hover:bg-green-700 transition duration-200" [ngClass]="{'opacity-50 cursor-not-allowed': !isCameraOn}" [disabled]="!isCameraOn">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <span>Chụp ảnh</span>
      </button>
      
      <button (click)="toggleCamera()" class="flex items-center justify-center py-2 px-4 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-200" >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
        </svg>
        <span>Bật/Tắt Camera</span>
      </button>
    </div>
    
    <canvas id="canvas" width="400" height="300" class="hidden"></canvas>
  </div>
  
</div>
